<p>
	<% if (user.username) { %>
		<%= user.username %><br/>
		Level <%= user.level %><br/>
		Points: <%= user.points %><br/>
		ID: <%= user.id %><br/>
		Achievements:<ul>
		<% for(i = 0; i < user.badges.length; i++){ %>
			<li><%= user.badges[i] %>
		<% } %>
		</ul>
		<p>View 
			<a href="/"></br>
			Home</a>
			<a href="/buildings"></br>
			Buildings</a>
			<a href="/leaderboard"><br/>
			Leaderboard</a>
		</p>
	<% } else { %>
		Oh no! You don't have a username yet.<br/>
	<% } %>
</p>